@model MoviesWeb.Models.VerifyEmailViewModel

@{
    ViewData["Title"] = "VerifyEmail";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-large.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #121212; 
            color: #e0e0e0; 
        }

        .cc {
            background-color: #1e1e1e; 
            padding: 40px;
            margin-top: 60px;
            border-radius: 10px;
            max-width: 600px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        }

        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        .form-control {
            background-color: #333; 
            color: #e0e0e0;
            border: 1px solid #444; 
            border-radius: 5px;
        }

            .form-control:focus {
                border-color: #555; 
                box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); 
            }

        .btn-primary {
            background-color: #6200ea; 
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
        }

            .btn-primary:hover {
                background-color: #3700b3; 
            }

        .text-danger {
            color: #ff6f6f; 
        }

        .text-center a {
            color: #bb86fc;
        }

            .text-center a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container cc">
        <h1>Verify Email</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="VerifyEmail">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-action="Login" asp-controller="User">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
