@model MoviesWeb.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-large.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>@ViewData["Title"]</title>
    <style>
       
        body {
            background-color: black;
        }

        .kontainer {
            background-color: white;
            padding: 40px;
            margin: 60px;
            margin-bottom:100px;
            border-radius: 10px;
            max-width: 800px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            color: black;
            font-size: 20px;
          margin-left:800px;
        }


        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
            width: 100%;
        }

        .form-control {
            width: 350px;
            height: 50px;
            font-size: 16px;
            border-radius: 10px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
            padding: 10px;
        }

        .btn-primary {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            border-radius: 10px;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
            margin-top: 20px;
            width: 175px;
        }

        .text-center a {
            color: white;
            cursor: pointer;
            text-decoration: underline;
        }

        .text-danger {
            color: #dc3545;
        }
    </style>
</head>
<body>
    <div class="container kontainer">
        <h1>Create Movie</h1>
        <h4>Movie</h4>
        <hr />

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release_date" class="control-label"></label>
                <input asp-for="Release_date" class="form-control" />
                <span asp-validation-for="Release_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input asp-for="Status" class="form-check-input" />
                    @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div class="text-center">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
